.form {
    max-width: 300px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    row-gap: 35px;

    padding: 15px;

    border: 1px solid black;
    border-radius: 8px;
}

.fieldset {
    display: flex;
    flex-direction: column;
}

.error {
    font-size: 14px;
    color: red;
}